twilio>=5.7.0
requests>=2.20.0
azure
azure-storage
cryptography==2.2.1
raven>=6.0.0
SpeechRecognition>=3.6.0
uszipcode>=0.1.3
google-api-python-client>=1.6.2
python-dateutil>=2.6.0
flask
flask_admin
flask_basicauth
azure-storage-blob
azure-cosmos
azure-cosmosdb-table
